<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Result</title>
</head>
<style>
    *{
        box-sizing: border-box;
        width: 100%;
    }
    html, body{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 16px;
        white-space: break-spaces;
    }
    

</style>
<body>
    <div class="result">
        <h1> {{ header }}</h1>
        <p>{{ text }}</p>
        <a href="https://caitex.net/wallets">Back to account</a>
    </div>    
</body>
</html>